*.json
*.csv
*.dat
*.zip
*.pdf
*.txt
*.fits
*.spydata
*.docx
*.png
*.jpg
*.xlsx
HST_project_files/data/
HST_project_files/Plots/
HLA_proposal/2023_submission/
HLA_proposal/0315_image_backup/
HLA_proposal/data/
HLA_proposal/HST_image_repo/
HLA_proposal/HST_psf/
HLA_proposal/images/
HLA_proposal/Plots/
HLA_proposal/Referee/
HLA_proposal/templates/
HLA_proposal/TinyTim/
